@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  /* custom base styles */
}

@layer components {
  /* custom component styles */
}

@layer utilities {
  /* custom utility classes */
}